@model VacancyStore.Website.Models.PageInfo<VacancyStore.DataAccess.Common.Models.Vacancy>
@{
    ViewBag.Title = "Вакансии";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SearchForm
{
    @Html.Partial("Search", new VacancyStore.Website.Models.SearchRequestData())
}

@section VacancyList
{
    <div id="ListContainer">
        @Html.Partial("VacancyList", Model)
    </div>
}

